<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{93,150}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{93,150}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,142}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{103,142}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{93,148}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{93,148}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{91,146}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{91,146}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{93,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{93,146}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{107,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b2c992632b77210f5833ab4c41881d:5200dd77166c531eb79d46dce99ee9e7:2904f34ed51771f70a05a1fbadbb6a19$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
