<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{78,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>stone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>stone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{80,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone.png</string>
            <key>size</key>
            <string>{84,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fffa3b62d4c352fbed097e8e601e6dc4:0887b32bae9275cafba49d0a4b66884e:6f1e44b0eb91beb917fbd76a0454cf71$</string>
            <key>textureFileName</key>
            <string>stone.png</string>
        </dict>
    </dict>
</plist>
