<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{84,172}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{84,172}}</string>
                <key>sourceSize</key>
                <string>{90,210}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{80,194}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{80,194}}</string>
                <key>sourceSize</key>
                <string>{90,210}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,182}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{86,182}}</string>
                <key>sourceSize</key>
                <string>{90,210}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{76,172}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{76,172}}</string>
                <key>sourceSize</key>
                <string>{90,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{90,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71c04e719ef32d8502db9d96accf58c9:b218de9c6041742ff5f4f8a92b00510d:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
