<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{31,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>xz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{31,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>xz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>xz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{31,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>xz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xz.png</string>
            <key>size</key>
            <string>{35,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ccb65ee1187a7a70603ff0c3f6bbc1e:fd657001b62947dc7a8f45afa891a103:3dfea2bf452f956b4787b4ef2185b3b6$</string>
            <key>textureFileName</key>
            <string>xz.png</string>
        </dict>
    </dict>
</plist>
