<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{265,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{265,44}}</string>
                <key>sourceSize</key>
                <string>{269,50}</string>
            </dict>
            <key>stump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{265,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{265,44}}</string>
                <key>sourceSize</key>
                <string>{269,50}</string>
            </dict>
            <key>stump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{267,48}}</string>
                <key>sourceSize</key>
                <string>{269,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stump.png</string>
            <key>size</key>
            <string>{805,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ba02b8ceefe4ca2c67988f909152ac:171c49f46c1263bba1e6c87f153877ef:db7252d36723c17cec263396e269eb67$</string>
            <key>textureFileName</key>
            <string>stump.png</string>
        </dict>
    </dict>
</plist>
